body {
    font-family: 'Sen', sans-serif;
    color: #368296;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.booking {
    position: relative;
    padding: 50px 0;
    text-align: center;
    background-image: url("Webapp-2-Reisbureau-opdracht-main/Reisbureau code/assets/depositphotosbooking.jpg");
    background-size: cover;
    height: 1500px;
}

.booking .heading-title {
    font-size: 56px;
    margin-bottom: 20px;
    color: #46acd0;
}

.booking .book-form {
    padding: 32px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 20px 35px rgba(42, 196, 255, 0.3);
    border-radius: 10px;
    z-index: 2;
    position: relative;
}

.booking .book-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.booking .book-form .flex .inputBox{
    flex: 1 1 656px;
}

.booking .book-form .flex .inputBox input {
    width: 100%;
    padding: 19.2px 22.4px;
    font-size: 25.6px;
    color: #333;
    margin-top: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking .book-form .flex .inputBox select {
    width: 100%;
    padding: 19.2px 22.4px;
    font-size: 25.6px;
    color: #333;
    margin-top: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking .book-form .flex .inputBox input:focus {
    background: #e9f6ff;
    color: #2ac4ff;
}

.booking .book-form .flex .inputBox span {
    font-size: 24px;
    color: #46acd0;
}

.booking .book-form .btn {
    margin-top: 32px;
    font-size: 17.6px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: #368296;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.booking .book-form .btn:hover {
    background: #286175;
}

.success-message {
    margin-bottom: 20px;
    font-size: 20px;
    color: green;
}
.heading-title{
position: relative;
    top: 150px;
    text-align: center;
    margin-bottom: 48px;
    font-size: 96px;
    text-transform: uppercase;
    color: #000;
}

.btn{
    display: inline-block;
    background: #5cc5fd;
    margin-top: 16px;
    color: #fff;
    font-size: 27px;
    padding: 16px 48px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    background: #5da9ff;
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(592px, 1fr));
    gap: 32px;
    justify-items: center;
    position: relative;
    top: 100px;
    padding: 150px;
   padding-bottom: 300px;
}

.packages .box-container .box{
    border: 1px solid #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: none;
    border-radius: 10px;
    width: 600px;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
    display: inline-block;
}

.packages .box-container .box:hover .image img{
    transform: scale(1.1);
}

.packages .box-container .box .image{
    height: 400px;
    overflow: hidden;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border-radius: 10px;
}

.packages .box-container .box .content{
    padding: 32px;
    text-align: center;
}

.packages .box-container .box .content h3{
    font-size: 40px;
    color: #000;
}

.packages .box-container .box .content p{
    font-size: 24px;
    color: #333;
    line-height: 2;
    padding: 16px 0;
}

.packages .load-more{
    text-align: center;
    margin-top: 32px;
}


@media (max-width: 768px) {
    .booking .book-form .flex {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 56px;
    }
}


