body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerbody {
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

.content {
    flex: 1;
}

footer {
    height: 400px;
    width: 100%;
    background-color: white;
}

h1 {
    font-size: 15px;
    color: #368296;
}

h2 {
    font-size: 20px;
    color: #368296;
}

.footerlijn01 {
    height: 3px;
    width: 90%;
    background-color: #5392A3;
    margin: 20px auto;
    /* Center the line horizontally */
}

.footerlijn02 {
    height: 2px;
    width: 400px;
    background-color: #D9D9D9;
    margin: 10px auto;
    /* Center the line horizontally */
}

.footer1stehelft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 150px;
}

.footer2stehelft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 150px;
}

.socialsicon {
    height: 30px;
}

#footerflex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

#emailgrid {
    display: flex;
    gap: 20px;
}

.emailbalk {
    border-radius: 20px;
    height: 30px;
    bottom: 3px;
}