<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerbody {
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

.content {
    flex: 1;
}

footer {
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body{
    height: 1000;
    width: 100%;
    background-color: grey;
}

footer{
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
    height: 400px;
    width: 100%;
    background-color: white;
}

<<<<<<< HEAD
h1 {
    font-size: 15px;
    color: #368296;
}

h2 {
    font-size: 20px;
    color: #368296;
}

.footerlijn01 {
    height: 3px;
    width: 90%;
    background-color: #5392A3;
    margin: 20px auto;
    /* Center the line horizontally */
}

.footerlijn02 {
    height: 2px;
    width: 400px;
    background-color: #D9D9D9;
    margin: 10px auto;
    /* Center the line horizontally */
}

.footer1stehelft {
=======
h1{
    font-size: 15px;
    color: #368296;
}
h2{
    font-size: 20px;
    color: #368296;
}
.footerlijn01{
    height: 3px;
    width: 90%;
    background-color: #5392A3;
    position: relative;
    top: 20px;
    left: 5%;
    display: flex;
    justify-content: center;
}

.footerlijn02{
    height: 2px;
    width: 400px;
    background-color: #D9D9D9;
    display: flex;
    position: relative;
    display: flex;
    margin: 10px;
}

.footer1stehelft{
    display: flex;
    position: relative;
    top: 20px;
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
<<<<<<< HEAD
    margin-left: 150px;
}

.footer2stehelft {
=======
    position: relative;
    left: 150px;
}

.footer2stehelft{
    display: flex;
    position: relative;
    top: 20px;
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
<<<<<<< HEAD
    margin-right: 150px;
}

.socialsicon {
    height: 30px;
}

#footerflex {
    display: flex;
    flex-wrap: nowrap;
=======
    position: relative;
    right: 150px;
}

.socialsicon{
    height: 30px;
}

#footerflex{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

<<<<<<< HEAD
#emailgrid {
=======
#emailgrid{
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
    display: flex;
    gap: 20px;
}

<<<<<<< HEAD
.emailbalk {
    border-radius: 20px;
    height: 30px;
    bottom: 3px;
}
=======
.emailbalk{
    border-radius: 20px;
    height: 30px;
    position: relative;
    bottom: 3px;
}
>>>>>>> 0b8bc9b9314b742003a6a0074aef31a491489621
