@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}



.header {
    background-color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #368296;
    height: 70px;
}

.logo {
    width: 180px;
    height: auto;
    position: relative;
}

.navbar a {
    color: #368296;
    text-decoration: none;
    left: 555px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 80px;
    /* Adjusted padding */
}

.header-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    top: -750px;
    position: relative;
    left: 550px;
}

.vakantie {
    font-size: 30px;
    color: #368296;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 100px;
    left: 100px;
}

.retangle {
    position: relative;
    top: 100px;
    padding-left: 100px;
}

.yacht {
    top: 150px;
    position: relative;
    width: 450px;
    left: 100px;
}

.palm {
    position: relative;
    width: 280px;
    top: 180px;
    left: 200px;
}
